


<br>
<div class="card text-center">
  <div class="card-header">
    <strong>DATOS DEL CLIENTE</strong>
  </div>
  <div class="card-body">
    <h6 class="card-title"><strong>Cliente: </strong> <%= @cliente.nombre %> <%= @cliente.apellido_p %> <%= @cliente.apellido_m %></h6>
    <h6 class="card-title"><strong>Direccion: </strong><%= @cliente.direccion %></h6>
    <h6 class="card-title"><strong>Telefono:</strong><%= @cliente.telefono %></h6>

  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Modificar', edit_cliente_path(@cliente) %> |
    <%= link_to 'Regresar', clientes_path %>
  </div>
</div>
<br>


<!-- ORDEN DE SERVICIO -->
<!--
<div class="card">
  <div class="card-header">
    <a href="#">+ Orden de Servicio</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>


<!-- FORMULARIO DE ORDEN DE SERVICIO-->
<!--
<%= form_with(model: Os::OrdenServicio.new, local: true, url: "#{@URL_DOMAIN}/clientes/#{@cliente.id}/orden_servicios") do |form| %>


<div class="field">
  <%= form.label :user_id%>
  <%= form.collection_select(:user_id, User.all, :id, :nombre, options = {}, {:class => "form-control"})%>

</div>




  <div class="field">
    <%= form.label :servicio_id %>

    <%= form.collection_select(:servicio_id, Os::Servicio.all, :id, :servicio, options = {}, {:class => "form-control"})%>

  </div>

  <div class="field">
    <%= form.label :equipo_id %>

    <%= form.collection_select(:equipo_id, Os::Equipo.all, :id, :n_serie, options = {}, {:class => "form-control"})%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>










  </div>
</div>

-->
