<p id="notice"><%= notice %></p>

<div class="card-content">
  <center>
  <div class=" card is-mobile">
  <%= render 'form', ct_cuenta: @ct_cuenta %>
  </div>
  </center>
</div>



<h1>Cuentas de Clientes</h1>
<div class="card">
 <div class="card-content">
<table class="table is-hoverable">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ct_cuentas.each do |ct_cuenta| %>
      <tr>
        <td><%= ct_cuenta.cliente_id %></td>
        <td><%= ct_cuenta.fecha %></td>
        <td><%= ct_cuenta.activo %></td>
        <td><%= link_to 'Show', ct_cuenta %></td>
        <td><%= link_to 'Edit', edit_ct_cuenta_path(ct_cuenta) %></td>
        <td><%= link_to 'Destroy', ct_cuenta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'New Ct Cuenta', new_ct_cuenta_path %>
