<p id="notice"><%= notice %></p>



<p>
  <strong>Activo:</strong>
  <%= @ct_cuenta_cotizacion.activo %>
</p>

<p>
  <strong>Cuenta cliente:</strong>
  <%= @ct_cuenta_cotizacion.cuenta_cliente_id %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @ct_cuenta_cotizacion.producto_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ct_cuenta_cotizacion.cantidad %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ct_cuenta_cotizacion.total %>
</p>
