<p id="notice"><%= notice %></p>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  + Nueva Orden de Servicio
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nueva Orden de Servicio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_with(model: @os_orden_servicio, local: true) do |form| %>


          <div class="field">
            <%= form.label :cliente_id %>
            <%= form.collection_select(:cliente_id, Cliente.all, :id, :nombre, options = {}, {:class => "form-control"})%>
          </div>

        <%= Time.now.strftime("%d-%m-%Y")	%>	


          <div class="field">
            <%= form.label :Autorizo_Reparacion %>
            <%= form.check_box :reparacion, id: :os_orden_servicio__reparacion %>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>



<h1>Orden Servicios</h1>
<div class="table-responsive-sm">
<table class="table">
  <thead>
    <tr>
          <th>N#</th>
      <th>Cliente</th>



      <th>Fecha</th>
    </tr>
  </thead>

  <tbody>
    <% @os_orden_servicios.each do |os_orden_servicio| %>
      <tr>
<td><%= link_to os_orden_servicio.id, os_orden_servicio %></td>
<td><%= link_to os_orden_servicio.Cliente.nombre, os_orden_servicio %> <%= link_to os_orden_servicio.Cliente.apellido_p, os_orden_servicio %></td>
<td><%= os_orden_servicio.created_at.to_date %></td>


        <td><%= link_to 'ver', os_orden_servicio %></td>
        <td><%= link_to 'Editar', edit_os_orden_servicio_path(os_orden_servicio) %></td>
        <td><%= link_to 'Eliminar', os_orden_servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
