<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @os_orden_servicio.User.nombre %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @os_orden_servicio.Cliente.nombre %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @os_orden_servicio.Servicio.servicio %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @os_orden_servicio.Equipo.n_serie %>
</p>

<%= link_to 'Edit', edit_os_orden_servicio_path(@os_orden_servicio) %> |
<%= link_to 'Back', os_orden_servicios_path %>
