<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-6"> <%=hg_card_cliente(@os_orden_servicio.Cliente) %>
  <%=hg_card_equipos(@os_orden_servicio.Equipo) %></div>
  <div class="col-md-6">


  <div class="card">
  <h5 class="card-header"><strong>N# Orden de Servicio:</strong>   <%= @os_orden_servicio.id %> </h5>
  <div class="card-body">
    <h7 class="card-title"><strong>Atendido por:</strong>  <%= @os_orden_servicio.User.nombre %> </h7>
    <p class='card-text'>Fecha: <small class='text-muted'>   <%= @os_orden_servicio.created_at.to_date %></small></p>
  </div>
</div>
<%=hg_card_servicios(@os_orden_servicio.Servicio) %></div>
</div>




<%= link_to 'Edit', edit_os_orden_servicio_path(@os_orden_servicio) %> |
<%= link_to 'Back', os_orden_servicios_path %>
