<%= form_with(model: os_equipo, local: true) do |form| %>
  

  <div class="field">
    <%= form.label :n_serie %>
    <%= form.text_field :n_serie, id: :os_equipo_n_serie %>
  </div>

  <div class="field">
    <%= form.label :marca_id %>

    <%= form.collection_select(:marca_id, Marca.all, :id, :marca, options = {}, {:class => "form-control"})%>
  </div>


  <div class="field">
    <%= form.label :modelo_id %>

    <%= form.collection_select(:modelo_id, Modelo.all, :id, :modelo, options = {}, {:class => "form-control"})%>
  </div>


  <div class="field">
    <%= form.label :tipo_equipo_id %>

      <%= form.collection_select(:tipo_equipo_id, Os::TipoEquipo.all, :id, :tipo, options = {}, {:class => "form-control"})%>


  </div>

  <div class="field">
    <%= form.label :orden_servicio_id %>

    <%= form.collection_select(:orden_servicio_id, Os::OrdenServicio.all, :id, :id, options = {}, {:class => "form-control"})%>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
