<p id="notice"><%= notice %></p>
<div class="container">


<h1>Os Equipos</h1>
<div class="table-responsive-sm">


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">serie</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Tipo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @os_equipos.each do |os_equipo| %>
      <tr>
        <td  scope="row"><%= os_equipo.n_serie %></td>
        <td><%= os_equipo.Marca.marca %></td>
        <td><%= os_equipo.Modelo.modelo %></td>
        <td><%= os_equipo.TipoEquipo.tipo %></td>
        <td><%= link_to 'Ver', os_equipo %>|<%= link_to 'Edit', edit_os_equipo_path(os_equipo) %>|<%= link_to 'X', os_equipo, method: :delete, data: { confirm: 'Estas seguro de Eliminar?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>





<%= link_to 'New Os Equipo', new_os_equipo_path %>
</div>
