


<%= form_with(model: ct_producto_catalogo, local: true) do |form| %>


  <div class="field">
    <%= form.label :categoria_id %>
 <%= form.collection_select(:categoria_id, Ct::ProductoCategoria.all, :id, :categoria, options = {}, {:class => "select is-primary"})%>
  </div>

  <div class="field">
    <%= form.label :umedida_id %>
    <%= form.collection_select(:umedida_id, Ct::ProductoUmedida.all, :id, :medida, options = {}, {:class => "select"})%>
  </div>

  <div class="field">
    <%= form.label :marca_id %>
    <%= form.collection_select(:marca_id, Ct::ProductoMarca.all, :id, :marca, options = {}, {:class => "select"})%>
  <div class="field">
    <%= form.label :barcode %>
    <%= form.text_field :barcode, id: :ct_producto_catalogo_barcode %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :ct_producto_catalogo_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :ct_producto_catalogo_descripcion %>
  </div>

  <div class="field">
    <%= form.label :json %>
    <%= form.text_area :json, id: :ct_producto_catalogo_json %>
  </div>





  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
