<p id="notice"><%= notice %></p>

<h1>Ct Producto Catalogos</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Umedida</th>
      <th>Marca</th>
      <th>Barcode</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Json</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ct_producto_catalogos.each do |ct_producto_catalogo| %>
      <tr>
        <td><%= ct_producto_catalogo.Categoria.categoria %></td>
        <td><%= ct_producto_catalogo.Umedida.medida %></td>
        <td><%= ct_producto_catalogo.Marca.marca %></td>
        <td><%= ct_producto_catalogo.barcode %></td>
        <td><%= ct_producto_catalogo.nombre %></td>
        <td><%= ct_producto_catalogo.descripcion %></td>
        <td><%= ct_producto_catalogo.json %></td>
        <td><%= link_to 'Show', ct_producto_catalogo %></td>
        <td><%= link_to 'Edit', edit_ct_producto_catalogo_path(ct_producto_catalogo) %></td>
        <td><%= link_to 'Destroy', ct_producto_catalogo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ct Producto Catalogo', new_ct_producto_catalogo_path %>
