<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @ct_producto_catalogo.Categoria.categoria %>
</p>

<p>
  <strong>Umedida:</strong>
  <%= @ct_producto_catalogo.Umedida.medida %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @ct_producto_catalogo.Marca.marca %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @ct_producto_catalogo.barcode %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ct_producto_catalogo.descripcion %>
</p>

<p>
  <strong>Json:</strong>
  <%= @ct_producto_catalogo.json %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @ct_producto_catalogo.nombre %>
</p>

<p>
  <strong>User:</strong>
  <%= @ct_producto_catalogo.User.nombre %>
</p>

<%= link_to 'Edit', edit_ct_producto_catalogo_path(@ct_producto_catalogo) %> |
<%= link_to 'Back', ct_producto_catalogos_path %>
