<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar is-info">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#" style="font-weight:bold;">
          <img src="<%= asset_path 'logo.png' %>">
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              <%= link_to 'Inicio', root_path, :class => "navbar-item" %>
            </a>
            <a class="navbar-item">
              <%= link_to 'Cuentas', ct_cuentas_path, :class => "navbar-item"%>
            </a>


            <div   class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Productos
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                <%= link_to 'Categorias',   ct_producto_categorias_path,:class => "navbar-item"%>
                </a>
                <a class="navbar-item">
                  <%= link_to 'Marca',   ct_producto_marcas_path,:class => "navbar-item"%>
                </a>
                <a class="navbar-item">
                <%= link_to 'Unidad Medida', ct_producto_umedidas_path,:class => "navbar-item"%>
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                <%= link_to 'Catalogo', ct_producto_catalogos_path,:class => "navbar-item"%>
                </a>
              </div>
            </div>
            <a class="navbar-item">
              <%= link_to 'Cliente', clientes_path,:class => "navbar-item"%>
            </a>
            <a class="navbar-item">
              Perfil
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">

                    <% if user_signed_in? %>
                  <div   class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <%=current_user.nombre%>

                        <img class="is-rounded", <%= image_tag(current_user.avatar.url(:thumb)) %>

                    </a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item">
                          <%= link_to 'Editar usuario', edit_user_registration_path %>
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item">

                       <%= link_to "Salir", destroy_user_session_path, method: :delete %>
                      </a>
                    </div>
                  </div>
                  <%end%>
            </div>
          </div>
        </div>
      </div>
    </nav>

      <script type="text/javascript">
        (function() {
          var burger = document.querySelector('.burger');
          var nav = document.querySelector('#'+burger.dataset.target);
          burger.addEventListener('click', function(){
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
          });
        })();
      </script>

  </body>
</html>
