
<div class="container border border-bottom ">
  <div class="modal-body">
<%= form_with(model: marca, local: true) do |form| %>


  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca, id: :marca_marca, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :activo %>
    <%= form.check_box :activo, id: :marca_activo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
