<p id="notice"><%= notice %></p>

<h1>Ct Cuenta</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ct_cuenta.each do |ct_cuentum| %>
      <tr>
        <td><%= ct_cuentum.cliente_id %></td>
        <td><%= ct_cuentum.fecha %></td>
        <td><%= ct_cuentum.activo %></td>
        <td><%= link_to 'Show', ct_cuentum %></td>
        <td><%= link_to 'Edit', edit_ct_cuentum_path(ct_cuentum) %></td>
        <td><%= link_to 'Destroy', ct_cuentum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ct Cuentum', new_ct_cuentum_path %>
