<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @orden_servicio.user %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @orden_servicio.cliente %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @orden_servicio.servicio %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @orden_servicio.equipo %>
</p>

<%= link_to 'Edit', edit_orden_servicio_path(@orden_servicio) %> |
<%= link_to 'Back', orden_servicios_path %>
