<%= form_with(model: ct_producto_categoria, local: true) do |form| %>
  <% if ct_producto_categoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ct_producto_categoria.errors.count, "error") %> prohibited this ct_producto_categoria from being saved:</h2>

      <ul>
      <% ct_producto_categoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria, id: :ct_producto_categoria_categoria %>
  </div>

  <div class="field">
    <%= form.label :activo %>
    <%= form.check_box :activo, id: :ct_producto_categoria_activo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
