<p id="notice"><%= notice %></p>

<h1>Ct Producto Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ct_producto_categorias.each do |ct_producto_categoria| %>
      <tr>
        <td><%= ct_producto_categoria.categoria %></td>
        <td><%= ct_producto_categoria.activo %></td>
        <td><%= link_to 'Show', ct_producto_categoria %></td>
        <td><%= link_to 'Edit', edit_ct_producto_categoria_path(ct_producto_categoria) %></td>
        <td><%= link_to 'Destroy', ct_producto_categoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ct Producto Categoria', new_ct_producto_categoria_path %>
