<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @ct_producto_categoria.categoria %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @ct_producto_categoria.activo %>
</p>

<%= link_to 'Edit', edit_ct_producto_categoria_path(@ct_producto_categoria) %> |
<%= link_to 'Back', ct_producto_categorias_path %>
