
<div class="container border border-bottom ">
  <div class="modal-body">
<%= form_with(model: modelo, local: true) do |form| %>
  <% if modelo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modelo.errors.count, "error") %> prohibited this modelo from being saved:</h2>

      <ul>
      <% modelo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo, id: :modelo_modelo, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :activo %>
    <%= form.check_box :activo, id: :modelo_activo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
