

<%= form_with(model: os_servicio, local: true) do |form| %>


  <div class="field">
    <%= form.label :servicio %>
    <%= form.text_field :servicio, id: :os_servicio_servicio, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :costo %>
    <%= form.text_field :costo, id: :os_servicio_costo, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :os_servicio_descripcion, :class => "form-control"%>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>
