<p id="notice"><%= notice %></p>


<!--
<div class="card">
  <h5 class="card-header">Servicio</h5>
  <div class="card-body">
    <h5 class="card-title"><p>
      <strong>Servicio:</strong>
      <%= @os_servicio.servicio %>
    </p>

    <p>
      <strong>Costo:</strong>
      <%= @os_servicio.costo %>
    </p>

    <p>
      <strong>Descripcion:</strong>
      <%= @os_servicio.descripcion %>
    </p></h5>
    <p class="card-text">jh</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<%= link_to 'Edit', edit_os_servicio_path(@os_servicio) %> |
<%= link_to 'Back', os_servicios_path %>
-->

<div class="card text-center">
  <div class="card-header">
    <strong>informacion Servicio</strong>
  </div>
  <div class="card-body">
    <h6 class="card-title"><strong>Servicio:</strong> <%= @os_servicio.servicio %></h6>
    <h6 class="card-title"><strong>Costo:</strong><%= @os_servicio.costo %></h6>
    <h6 class="card-title"><strong>Descripcion:</strong><%= @os_servicio.descripcion %></h6>

  </div>
  <div class="card-footer text-muted">

    <%= link_to 'Modificar', edit_os_servicio_path(@os_servicio) %> |
    <%= link_to 'Regresar', os_servicios_path %>

  </div>
</div>
