

<body class="layout-default">
  <section class="hero is-fullheigt  is-medium  ">

        <div class="hero-body">

          <div class="container">

            <div class="columns is-centered"">

              <article class="card is-rounded">
              <center><h2>INICIO DE SECCION</h2></center>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="card-content">
                  <h1 class="title"><img src="<%= asset_path 'logo.png' %>"alt="logo" width="60">J&G App Web</h1>

                  <p class="control has-icon">

                    <input class="input" type="email" placeholder="Email" name="user[email]">

                                    <span class="icon is-small is-left">
                                      <i class="fas fa-envelope"></i>
                                    </span>
                  </p>
                  <br>
                  <p class="control has-icon">

                    <input class="input" type="password" placeholder="Password" name="user[password]">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                  <br>
                  <% if devise_mapping.rememberable? %>
                  <p class="control">
                     <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                    <% end %>
                  <p class="control">
                    <button class="button is-info is-medium is-fullwidth">
                      <i class="fa fa-user"></i>
                      Ingresar
                    </button>
                  </p>

                </div>
                    <% end %>
                    <center>
                        <%= render "devise/shared/links" %></center>
              </article>

            </div>
          </div>
    </div>
  </section>
</body>
