<p id="notice"><%= notice %></p>

<h1>Ct Producto Umedidas</h1>

<table>
  <thead>
    <tr>
      <th>Medida</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ct_producto_umedidas.each do |ct_producto_umedida| %>
      <tr>
        <td><%= ct_producto_umedida.medida %></td>
        <td><%= ct_producto_umedida.activo %></td>
        <td><%= link_to 'Show', ct_producto_umedida %></td>
        <td><%= link_to 'Edit', edit_ct_producto_umedida_path(ct_producto_umedida) %></td>
        <td><%= link_to 'Destroy', ct_producto_umedida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ct Producto Umedida', new_ct_producto_umedida_path %>
