<p id="notice"><%= notice %></p>

<p>
  <strong>Medida:</strong>
  <%= @ct_producto_umedida.medida %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @ct_producto_umedida.activo %>
</p>

<%= link_to 'Edit', edit_ct_producto_umedida_path(@ct_producto_umedida) %> |
<%= link_to 'Back', ct_producto_umedidas_path %>
