<p id="notice"><%= notice %></p>

<h1>Producto Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_categorias.each do |producto_categoria| %>
      <tr>
        <td><%= producto_categoria.categoria %></td>
        <td><%= producto_categoria.activo %></td>
        <td><%= link_to 'Show', producto_categoria %></td>
        <td><%= link_to 'Edit', edit_producto_categoria_path(producto_categoria) %></td>
        <td><%= link_to 'Destroy', producto_categoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto Categoria', new_producto_categoria_path %>
