<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @producto_categoria.categoria %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @producto_categoria.activo %>
</p>

<%= link_to 'Edit', edit_producto_categoria_path(@producto_categoria) %> |
<%= link_to 'Back', producto_categorias_path %>
