<p id="notice"><%= notice %></p>

<h1>Ct Producto Marcas</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ct_producto_marcas.each do |ct_producto_marca| %>
      <tr>
        <td><%= ct_producto_marca.marca %></td>
        <td><%= ct_producto_marca.activo %></td>
        <td><%= link_to 'Show', ct_producto_marca %></td>
        <td><%= link_to 'Edit', edit_ct_producto_marca_path(ct_producto_marca) %></td>
        <td><%= link_to 'Destroy', ct_producto_marca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ct Producto Marca', new_ct_producto_marca_path %>
