<p id="notice"><%= notice %></p>


<%= link_to 'Editar', edit_ct_cliente_path(@ct_cliente) %> |
<%= link_to 'Regresar', ct_clientes_path %>



<!--CARD DE CLIENTE--->
<div class="card">
  <div class="card-content is-centered">
    <center>



      <div class="media-content">
        <p class="title is-4">  <%= @ct_cliente.nombre %></p>
        <p class="subtitle is-6">Cliente</p>
      </div>

    </center>

<div class="media-content">
      <strong>Direccion:</strong>
      <a> <%= @ct_cliente.direccion %></a>.
      <strong>Telefono:</strong> <a href="#"> <%= @ct_cliente.telefono %></a>
      <br>
      <time><%= @ct_cliente.created_at %></time>
    </div>

  </div>
</div>
<!--FINAL DE CARD-->
<div class="card">
  <div class="card content">
    <div class="columns">
      <div class="column">
        <div class="media-content">
         hfdzgdzjgf
        </div>

      </div>

    </div>

  </div>

</div>







<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <p class="bd-notification is-primary">

</p>

  </div>
</div>
