



  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="title">
          Realizar cambios del Usuario
        </h2>
        <div class="container">
          <div class="notification">
          

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Nombre:</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <%= f.text_field :nombre, autofocus: true,autocomplete: "nombre", :class => "input is-success"  %>


                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Actualmente en espera de confirmación para: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input is-success" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
          </div>
          </div>
          <div class="field is-horizontal">
          <div class="field-label is-normal">
          <label class="label">Contraseña: </label>
          </div>
          <div class="field-body">
          <i>(Dejar en blanco si no quieres cambiarlo)</i><br />
          <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
          <%= f.password_field :password, autocomplete: "nueva contraseña",placeholder: "Contraseña", :class => "input is-success" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caracteres mínimo</em>
          <% end %>
          </div>
          <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
            <%= f.password_field :password_confirmation, autocomplete: "nueva contraseña",placeholder: "Confirmar Contraseña", :class => "input is-success" %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
          </p>
          </div>
          </div>
          </div>

          <div class="field is-horizontal">
          <div class="field-label is-normal">
          <label class="label">Contraseña Actual: </label>
          </div>
          <div class="field-body">

          <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
            <%= f.password_field :current_password, autocomplete: "contraseña actual", :class => "input is-success" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>

            </span>
          </p>
  <i>(Necesitamos su contraseña actual para confirmar sus cambios.)</i><br />
          </div>
          <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
               <%= f.label :avatar, "foto" %>
             <%= f.file_field :avatar %>
          <span class="icon is-small is-left">

          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
          </p>
          </div>
          </div>
          </div>



          <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->

          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="actions">
                  <%= f.submit "Actualizar", :class => "button is-link"%>
                </div>
              </div>
            </div>
          </div>
          </div>
            <% end %>

            <h3>Cancelar mi cuenta</h3>

            <p>Infeliz? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "button is-danger" %></p>

          </div>
            <%= link_to "Regresar", :back %>
        </div>



      </div>
    </div>
  </section>
